<% if @orders.all.count == 0 %>
	<p>Your order list is empty!</p>
<% else %>
	<h1>Your orders</h1>
	<ol>
		<% @orders.each do |order| %>
		<li><%= order.ordered %> | <%= order.created_at %></li>	
		<% end %>
	</ol>
<% end %>

<%= link_to "Back to main", root_path %>