<div style="height: 100px; background-color: lightgreen; text-align: center;">
	<% if user_signed_in? %>
		Hello, <%= current_user.first_name %> | 
		<%= link_to 'Редактировать профиль', edit_user_registration_path(current_user.id) %> | 
		<%= link_to 'Выйти из системы', destroy_user_session_path, method: :delete %> | 
		<%= link_to 'История ваших заказов', orders_index_path %>
	<% else %>
		<%= link_to 'Зарегистрироваться в системе', new_user_registration_path %> | 
		<%= link_to 'Войти в систему', new_user_session_path %>
	<% end %>
</div>