<% if Restaurant.all.count == 0 %>
	<h1>There are still no restaurants in our database!</h1>
<% else %>
	<% if user_signed_in? %>
		<h1 style="text-align: center;">Restaurants:</h1>
		<% @restaurants.each do |restaurant| %>
			<p class="text-sm-center">
				<% if restaurant.image.attached? %>
					<%= image_tag restaurant.image, size: 100 %>
				<% end %><br>
				<%= link_to restaurant.title, restaurants_show_path(restaurant.id) %>
			</p>
		<% end %>
	<% else %>
		<h1 style="text-align: center;">Registrate and log in to make an order!</h1>
		<% @restaurants.each do |restaurant| %>
			<p class="text-sm-center">
				<%= "*" * 50 %><br>
				<% if restaurant.image.attached? %>
					<%= image_tag restaurant.image, size: 100 %>
				<% end %><br>
				<%= "#{restaurant.title}" %><br>
				<%= "*" * 50 %>
			</p>
		<% end %>
	<% end %>
<% end %>