<h1><%= @restaurant.title %></h1>
<p><%= @restaurant.desc %></p>

<% if Cart.find_by(restaurant_id: @restaurant.id, user_id: current_user.id).items.count == 0 %>
	<div style="width: auto; height: auto; background-color: rgba(0,0,0,0.25);  position: fixed; right: 0px; padding: 15px; border-radius: 100%;">
		Your cart is empty<br>
	</div>
<% else %>
	<% @cart = Cart.find_by(restaurant_id: @restaurant.id, user_id: current_user.id) %>
	<div style="max-width: 50%; height: auto; background-color: rgba(0,0,0,0.25);  position: fixed; right: 0px; padding: 10px; border-radius: 10px;">
		<% @cart.items.each do |item| %>
			<%= "#{item.title} * #{item.qty} = #{item.price * item.qty}" %> |
			<%= link_to "Добавить", items_update_path(item.id, "plus"), method: :put %> | 
			<%= link_to "Убавить", items_update_path(item.id, "minus"), method: :put %> | 
			<%= link_to "Удалить", items_destroy_path(item.id, @cart.id), method: :delete %>
			<br>
		<% end %>
		Total price: <%= total_price(@cart.items) %> | <%= link_to "Сделать заказ", orders_create_path(@cart.id), method: :post %>
	</div>
<% end %>

<% if @restaurant.dishes.all.count == 0 %>
	<p>There are still no dishes in this restaurant!</p>
<% else %>
	<% @restaurant.dishes.each do |dish| %>
		<% if dish.image.attached? %>
			<%= image_tag dish.image, size: 100 %>
		<% end %>
		<h3>
			<%= link_to dish.title, dishes_show_path(dish.id) %> | 
			<%= dish.price %> | 
			<%= link_to "Добавить в Вашу корзину", items_create_path(dish.id), method: :post %> 
		</h3><br>
	<% end %>
<% end %>

<%= link_to "Main menu", root_path %>